*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(250, 245, 240);
}
.wrapper{
    height: auto;
    width: 75vw;
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    border: 1px solid black;
}
.heading, .cart{
    margin-top: 50px;
}
.heading{
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
}
.products-container{
    margin-top: 30px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.prod{
    height: 300px;
    width: 250px;
    border: 1px solid black;
    border-radius: 15px;
}
.img1{
    height:180px;
    width:100%; 
    background-image: url(./Assets/image-waffle-desktop.jpg);
    background-size: 100% 100%;
    border-radius: 15px;
}
.img2{
    height:180px;
    width:100%; 
    background-image: url(./Assets/image-creme-brulee-desktop.jpg);
    background-size: 100% 100%;
    border-radius: 15px;
}
.buttons{
    /* position: absolute; */
}
.add-to-cart, .counter{
    width: 100px;
    height: 40px;
    position: absolute;
}
.counter,.counter2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}
.increment, .decrement{
    width: 30px;
    font-size: 1.5rem;
}
.dish{
    margin-top: 50px;
}
.dish-name{
    font-weight: 600;
}
.price{
    color:  brown;
}

.cart{
    height: 300px;
    width: 280px;
    position: fixed;
    top: 0;
    right: 15%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.cart-head{
    display: flex;
    gap: 15px;
}

.hide{
    display: none;
}
